body {
	margin: 0px;
	background-color: #aaa;
}

body.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hidden {
	display: none;
}

#content {
	position: absolute;
	width: 100%;
	height: 100%;
}

#messages {
	position: absolute;
	right: 15px;
	bottom: 10px;
}
.error_message {
	background-color: #BA4741;
	border: solid #AA3731;
	border-radius: 10px;
	padding: 15px;
	margin-top: 5px;
}

.close {
	background-image: url("../img/x.svg");
	background-color: transparent;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border: none;
}

.download {
	display: block;
	background-image: url("../img/download.svg");
	background-color: transparent;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border: none;
}
.download:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.tile_sm {
	width: 100px;
	height: 100px;
}
.tile_sm .cover {
	width: 100px;
	height: 100px;
}
.tile_sm .add {
	width: 30px;
	height: 30px;
	position: absolute;
	transform: translateX(66px) translateY(3px);
	background-color: white;
}
.tile_sm .albumImageLink {
	width: 20px;
	height: 20px;
	position: absolute;
	transform: translateX(75px) translateY(75px);
	background-color: white;
}
.tile_sm .albumImageLink img {
	width: 20px;
	height: 20px;
}

.tile_med {
	width: 200px;
	height: 200px;
}
.tile_med .cover {
	width: 200px;
	height: 200px;
}
.tile_med .add {
	width: 40px;
	height: 40px;
	position: absolute;
	transform: translateX(156px) translateY(5px);
	background-color: white;
}
/*.tile_med .add:hover {
	background-color: rgba(0,0,0,0.2);
}*/
.tile_med .albumImageLink {
	width: 25px;
	height: 25px;
	position: absolute;
	transform: translateX(170px) translateY(170px);
	background-color: white;
}
.tile_med .albumImageLink img {
	width: 25px;
	height: 25px;
}

.tile_lg {
	width: 400px;
	height: 400px;
}
.tile_lg .cover {
	width: 400px;
	height: 400px;
}
.tile_lg .add {
	width: 40px;
	height: 40px;
	position: absolute;
	transform: translateX(356px) translateY(5px);
	background-color: white;
}
.tile_lg .albumImageLink {
	width: 40px;
	height: 40px;
	position: absolute;
	transform: translateX(385px) translateY(385px);
	background-color: white;
}
.tile_lg .albumImageLink img {
	width: 40px;
	height: 40px;
}

#collection_spotlight {
	background-color: cyan;
	position: absolute;
	width: 540px;
	z-index: 1;
	overflow: auto;
	max-height: 85%;
}
#collection_spotlight .close {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
#collection_spotlight .close:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
#collection_spotlight img {
	width: 200px;
	height: 200px;
}
#collection_items {
	overflow: auto;
}

.player-button:hover {
	cursor: pointer;
}
.player-button.play {
	background-image: url("../img/player-play.svg");
}
.player-button.pause {
	background-image: url("../img/player-pause.svg");
}
.player-button.stop {
	background-image: url("../img/player-stop.svg");
}
.player-button.loading {
	background-image: url("../img/rotate-clockwise-2.svg");
}
.player-button.previous {
	background-image: url("../img/player-track-prev.svg");
}
.player-button.next {
	background-image: url("../img/player-track-next.svg");
}
.player-button.loop-off {
	background-image: url("../img/repeat.svg");
}
.player-button.loop-single {
	background-image: url("../img/repeat-once.svg");
}
.player-button.volume {
	background-image: url("../img/volume.svg");
}
.player-button.volume.muted {
	background-image: url("../img/volume-off.svg");
}
.player-button.shuffle {
	background-image: url("../img/arrows-shuffle.svg");
}
.player-button.settings {
	background-image: url("../img/settings.svg");
}
