#instance button.active {
	cursor: pointer;
	background-color: #2a5cbd;
	border: none;
}

.tile_collection {
	display: flex;
	flex-wrap: wrap;
}

/**********
  Timeline
**********/
#instance.timeline {
	position: relative;
}
.timeline #collection_spotlight {
	float: right;
	height: 100%;
	background-color: cyan;
	position: sticky;
	top: 0px;
	right: 0px;
	width: 32%;
	z-index: 1;
}
.timeline #collection_spotlight .close {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
.timeline #collection_spotlight img {
	width: 200px;
	height: 200px;
}
.timeline #collection_items {
	overflow: auto;
}
