#instance button.active {
	cursor: pointer;
	background-color: #2a5cbd;
	border: none;
}

.tile_collection {
	display: flex;
	flex-wrap: wrap;
}

/**********
  Timeline
**********/
#instance.timeline {
	position: relative;
}

